body {
    #main { margin-top: .5em; }
    .navbar { margin-top: .25em; }
}

header {
    &:after {
        display: block;
        content: " ";
        visibility: none;
        clear: both;
    }
    div#login-status {
        float: right;
        img {
            float: left;
            max-width: 90px;
        }
    }
}

#add-photos {
    position: relative;
    overflow: hidden;
    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}
#thumbnails {
    .thumbnail {
        width: 100px;
        height: 120px;
        display: inline-block;
        margin: 1em;
        padding: 0;
        border: 0;
        position: relative;
        text-align: center;
        img {
            max-width: 90px;
            max-height: 90px;
        }
    }
}
#upload-button {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.logged-in-only {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    &.logged-in { opacity: 1; }
}

.photo {
    display: inline-block;
    height: 325px;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 300px;
    }
}