<!DOCTYPE html>
<html>
    <head>
        <title>Peter's </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/app.css" />
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="/javascript/mustache.js"></script>
        <script src="/javascript/app.js"></script>
    </head>
    <body>
        <div class="container" id="main">
            <header>
                <div id="login-status">
                    <div id="facebook-logged-in" class="hide media">
                        <a href="" class="pull-left">
                            <img class="media-object" id="current-facebook-user-photo" alt="Profile Picture" src="" />
                        </a>
                        <div class="media-body text-center">
                            You are currently logged in as<br />
                            <a href=""><span id="current-facebook-user"></span></a>
                        </div>
                    </div>
                    <div id="facebook-login-needed" class="hide">
                        <button id="facebook-login-button" class="btn btn-primary">
                            Log in with Facebook
                        </button>
                    </div>
                </div>
            </header>
            <div class="logged-in-only">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a class="upload" href="#"><i class="fa fa-upload"></i> Upload Photos</a></li>
                        <li><a class="my" href="#"><i class="fa fa-user"></i> My Photos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-users"></i> People <b class="caret"></b>
                            </a>
                            <ul id="individual-photos" class="dropdown-menu"></ul>
                        </li>
                    </ul>
                </nav>

                <div id="controls">
                    <span class="btn btn-primary" id="add-photos">
                        Add Photos
                        <input id="file-uploads" type="file" name="files[]" multiple />
                    </span>
                    <div id="thumbnails"></div>
                    <br />
                    <button id="upload-button" class="btn btn-primary hide">Upload to S3</button>
                </div>
                <div id="results" class="hide"></div>
                <div id="fb-root"></div>
            </div>
        </div>


        <div id="templates" class="hide">
            <div id="mustache-user-line" class="mustache-template">
                <li><a href="#" data-user-id="{{id}}">{{name}}</a></li>
            </div>
            <div id="mustache-photo-list" class="mustache-template">
                {{#photos}}
                <div class="col-sm-6 col-md-3 photo">
                    <img src="{{url}}" alt="" />
                </div>
                {{/photos}}
            </div>
        </div>

    </body>
</html>