{% extends "template.twig" %}

{% block title %}{{ user.name }}{% endblock %}
{% block header %}
    <h1>User Profile for {{ user.name }}</h1>
    <img src="{{ user.profilePicture }}" alt="Profile Photo for {{ user.name }}" />
{% endblock %}
{% block main_content %}
    <p><a href="{{ user.facebookLink }}">Facebook Profile for {{ user.name }}</a></p>
    
    <p>
        This user has {{ user.photoCount }} photos uploaded.
        <a href="{{ user.photosLink }}">Click here to view them.</a>
    </p>
{% endblock %}
