<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/css/api.css" />
    </head>
    
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block main_content %}{% endblock %}
    </body>
</html>
