{% extends "template.twig" %}

{% block title %}Photo Sharing Site Users{% endblock %}
{% block header %}
    <h1>All Site Users</h1>
{% endblock %}
{% block main_content %}
    <ul>
    {% for user in users %}
        <li>
            <h4>{{ user.name }}</h4>
            <ul>
                <li><a href="{{ user.facebookUrl }}">Facebook</a></li>
                <li><a href="{{ user.profileUrl }}">Sharing Site Profile</a></li>
                <li><a href="{{ user.photoUrl }}">Sharing Site Photos</a></li>
            </ul>
        </li>
    {% else %}
        <li>No users yet!</li>
    {% endfor %}
    </ul>
{% endblock %}
