{% extends "template.twig" %}

{% block title %}Photos uploaded by {{ user.name }}{% endblock %}
{% block header %}
    <h1>Photos uploaded by {{ user.name }}</h1>
{% endblock %}
{% block main_content %}
    <h3>These photo URLs will remain valid until {{ photos.urlExpirationTime }}</h3>
    <ul class="photos-list">
    {% for photo in photos.photos %}
        <li>
            <img src="{{ photo.url }}" />
            <br />
            {{ photo.key }}
        </li>
    {% else %}
        <li>This user hasn't uploaded any photos yet!</li>
    {% endfor %}
    </ul>
{% endblock %}
